:root {
  --md-primary-fg-color:        #D47346;
  --md-primary-fg-color--light: blue;
  --md-primary-fg-color--dark:  green;
}

.md-header__title {
    margin-left: 0 !important;
}

.md-icon {
    display: none !important;

}
